# Directorios de compilación
/out/
/target/
/build/

# Archivos de configuración del sistema de IntelliJ
.idea/
/*.iml

# Configuración de ejecución/debug personal
*.iws

# Archivos de sistema
.DS_Store
Thumbs.db

# Logs y temporales
*.log
*.tmp
*.swp

# Archivos de Maven o Gradle que no se necesiten versionar
!.mvn/wrapper/maven-wrapper.jar
